@import url(http://fonts.googleapis.com/css?family=Dosis:600);
/* line 4, ../sass/path-menu.scss */
.x-pathmenu {
  width: 300px;
  height: 300px;
  background: #DDD;
}

/* line 10, ../sass/path-menu.scss */
.x-pathmenu-body {
  position: relative;
  width: 42px;
  height: 42px;
}
/* line 15, ../sass/path-menu.scss */
.x-pathmenu-body .x-button {
  position: absolute;
  overflow: visible;
  padding: 0;
  border: none;
  -webkit-box-shadow: 0 0 0 3px white, 0 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 3px white, 0 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 3px white, 0 0 0 4px rgba(0, 0, 0, 0.3);
}
/* line 21, ../sass/path-menu.scss */
.x-pathmenu-body .x-button:before, .x-pathmenu-body .x-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 27, ../sass/path-menu.scss */
.x-pathmenu-body .x-button:before {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
/* line 31, ../sass/path-menu.scss */
.x-pathmenu-body .x-button.x-button-pressing:after {
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 38, ../sass/path-menu.scss */
.x-pathmenu-body .x-button-normal {
  width: 26px;
  height: 26px;
  min-height: 26px;
  bottom: 8px;
  left: 8px;
  background: #44403d;
  z-index: 1;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 49, ../sass/path-menu.scss */
.x-pathmenu-body .x-button-normal:before, .x-pathmenu-body .x-button-normal:after {
  width: 34px;
  height: 34px;
  margin-top: -17px;
  margin-left: -17px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  border-radius: 34px;
}
/* line 56, ../sass/path-menu.scss */
.x-pathmenu-body .x-button-normal .x-button-icon {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

/* line 65, ../sass/path-menu.scss */
.x-button-path {
  width: 34px;
  height: 34px;
  bottom: 4px;
  left: 4px;
  z-index: 2;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  border-radius: 34px;
}
/* line 72, ../sass/path-menu.scss */
.x-button-path, .x-button-path.x-button-pressing, .x-button-path.x-button-pressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e85839), color-stop(49%, #e24428), color-stop(51%, #dd3018), color-stop(100%, #cb2c16));
  background-image: -webkit-linear-gradient(#e85839, #e24428 49%, #dd3018 51%, #cb2c16);
  background-image: -moz-linear-gradient(#e85839, #e24428 49%, #dd3018 51%, #cb2c16);
  background-image: -o-linear-gradient(#e85839, #e24428 49%, #dd3018 51%, #cb2c16);
  background-image: -ms-linear-gradient(#e85839, #e24428 49%, #dd3018 51%, #cb2c16);
  background-image: linear-gradient(#e85839, #e24428 49%, #dd3018 51%, #cb2c16);
}
/* line 75, ../sass/path-menu.scss */
.x-button-path:before, .x-button-path:after {
  width: 42px;
  height: 42px;
  margin-top: -21px;
  margin-left: -21px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border-radius: 42px;
}
/* line 83, ../sass/path-menu.scss */
.x-button-path.x-button-pressed .x-button-label {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 86, ../sass/path-menu.scss */
.x-button-path.x-button-pressed:before, .x-button-path.x-button-pressed:after {
  background-color: transparent;
  background-image: none;
}
/* line 91, ../sass/path-menu.scss */
.x-button-path .x-button-label {
  font-family: Dosis, sans-serif;
  font-weight: 600;
  line-height: 22px;
  font-size: 49px;
  height: 100%;
  width: 100%;
  color: #FFF;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
