@import 'compass/css3';

.login-view {
    @include background-image(radial-gradient(#5775b5, #3f5d9b));
    
    /*
     * Logo
     */
    .logo {
        background: transparent url('../images/loginFacebookLogo.png') no-repeat center center;
        background-size: 177px 41px;
        width: 177px;
        height: 41px;
        margin: 2em auto;
    }
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .logo {
            background-image: url('../images/loginFacebookLogo@2x.png');
        }
    }
    
    /*
     * Textfields box
     */
    .x-form {
        margin-bottom: 1em;
    }
    .shadow {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        border: 1px solid #41598C;
        @include box-shadow(0 1px 2px #666 inset, 0 1px 1px #7f94bd);
        @include border-radius(.5em);
    }
    .x-field-text {
        width: 14em;
        background-color: #eeeff0;
        .x-input-el::-webkit-input-placeholder {
            color: #b3b3b3;
        }
    }
    .email {
        border-bottom: 1px solid #d3d3d4;
        display: inline-block;
        margin: 1px 1px 0 1px;
        @include border-radius(.5em .5em 0 0);
    }
    .password {
        border-top: 1px solid #f7f7f8;
        margin: 0 1px 1px 1px;
        @include border-radius(0 0 .5em .5em);
    }
    
    /**
     * Buttons
     */
    .login-btn {
        width: 14em;
        border: none;
        margin-bottom: 6em;
        min-height: 2.2em;
        @include background-image(linear-gradient(#eaebec, #b9bfc7));
        @include box-shadow(0 1px 1px #f2f2f2 inset, 0 1px 3px #444);
        .x-button-label {
            color: #565655;
        }
        &.x-button-pressing {
            @include background-image(linear-gradient(darken(#eaebec, 10%), darken(#b9bfc7, 10%)));
        }
    }
    
    .signup-btn {
        border-color: #3a517c;
        font-size: .7em;
        min-height: 2.5em;
        margin-bottom: 0.8em;
        padding: 0.6em 1em;
        background-color: transparent;
        @include box-shadow(0 1px 1px #7a8fb8 inset, 0 1px 1px #6074a0);
        @include background-image(linear-gradient(rgba(#FFF, 0.1), transparent));
        .x-button-label {
            color: #FFF;
        }
        &.x-button-pressing {
            background-color: rgba(#000, 0.1);
            background-image: none;
            @include box-shadow(0 1px 0.3em #333 inset);
        }
    }
    
    .help-btn {
        font-size: .7em;
        border: none;
        background-image: none;
        background-color: transparent;
        .x-button-label {
            color: #819dc6;
            font-weight: normal;            
        }
        &.x-button-pressing .x-button-label {
            color: #CCC;
        }
    }
    .help-line {
        border-top: 1px solid #819dc6;
        width: 3em;
        margin-bottom: 1em;
    }
}